@page
@model RostrosFelices.Pages.Clientes.CreateModel
@{
}
<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente.Id" class="control-label"></label>
                <input asp-for="Cliente.Id" class="form-control" />
                <span asp-validation-for="Cliente.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Documento" class="control-label"></label>
                <input asp-for="Cliente.Documento" class="form-control" />
                <span asp-validation-for="Cliente.Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Nombre" class="control-label"></label>
                <input asp-for="Cliente.Nombre" class="form-control" />
                <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Apellido" class="control-label"></label>
                <input asp-for="Cliente.Apellido" class="form-control" />
                <span asp-validation-for="Cliente.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="REGISTRAR" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">CANCELAR</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
